body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #6d6d6d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 20px; /* Ajoute un peu d'espace intérieur */
}

#formContainer {
  background-color: #e1e0e0;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 500px;
  display: flex;
  flex-direction: column; /* Affiche les éléments en colonne */
  align-items: center; /* Centre les éléments horizontalement */
}

h1 {
  color: #333;
  margin-bottom: 20px;
}
#formContainer > #containerDownload{
  margin-bottom: 0;
}

#formContainer  #errorCorrectionLevel{
  width: 100%;
}

#formContainer > div {
  margin-bottom: 20px;
  width: 100%; /* Définir la largeur de chaque div à 100% */
  box-sizing: border-box; /* Inclure la bordure et le padding dans la largeur */
}

#formContainer > div label {
  display: block; /* Afficher les labels en bloc */
  margin-bottom: 5px; /* Ajouter un espace entre les labels et les inputs */
  text-align: left; /* Aligner le texte à gauche */
}

#formContainer input[type="text"],
#formContainer input[type="number"],
#formContainer select {
  width: calc(100% - 19px); /* Prendre la largeur totale de la div moins la marge */
  padding: 8px; /* Ajouter un peu de rembourrage */
  margin-bottom: 10px; /* Ajouter un peu d'espace en bas */
  border-radius: 5px; /* Ajouter des coins arrondis */
  border: 1px solid #ccc; /* Ajouter une bordure */
}
#containerColor, #containerOpacityQrCode {
  display: flex;
  justify-content: space-between;
}

@media (max-width:600px){
  #containerColor, #containerOpacityQrCode{
    flex-direction: column;
  }
}

#containerColor > div
 {
  flex-grow: 0.43; /* Les divs occupent la même quantité d'espace */
}

#containerOpacityQrCode > div {
  flex-grow: 0.2;
}

#containerColor input[type="color"] {
  width: 100%;
  height: 30px;
  margin-bottom: 10px; /* Ajouter un peu d'espace en bas */
  border-radius: 3px; /* Ajouter des coins arrondis */
  border: 1px solid #ccc; /* Ajouter une bordure */
}

#qrcode-container {
  margin-bottom: 20px;
  text-align: center;
}
#validInput{
  text-align: center;
}
#containerDownload {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#containerDownload > button {
  margin: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
#containerOpacityQrCode div > .error-message {
  width: 200px;
}
.error-message {
  color: red;
  font-size: 12px;
}
@media (max-width: 600px){
  #containerOpacityQrCode div > .error-message {
    width: 100%;
    margin-bottom: 15px;
  }
}
